/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* 

COLORS

primary: #136F63
secondary: #ffb101
black: #1f2220
white: #ffffff
gray: #dedddd

BREAKPOINTS

420px for portrait phones.
576px for larger portrait phones.
768px for tablets.
992px for laptops.
1200px for large devices.

*/

.section-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4rem;
  padding-top: 5rem;
}

.section-home__herotext {
  padding: 1rem 0 0 0;
  line-height: 1.5rem;
}

.section-home__herotext__line1,
.section-home__herotext__line3 {
  padding-bottom: 1rem;
  padding-top: 0.25rem;
}

.section-home__herotext__line2 > span,
.section-home__herotext__line3 > span {
  font-family: "Montserrat SemiBold", sans-serif;
}

.section-home__herotext ul {
  list-style-type: none;
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
}

.section-home__herotext li {
  line-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-arrow {
  color: #136f63;
  font-size: 2rem;
  padding-right: 0.5rem;
}

.section-home__herotext__cta__divider {
  display: block;
  height: 1rem;
}

.section-home__heroimage {
  display: none;
}

.section-home__heroimage-xs {
  position: relative;
  padding-bottom: 1rem;
}

.section-home__heroimage-xs > img {
  width: 100%;
}

.section-home__background {
  width: 12rem;
  height: 12rem;
  left: calc(50% - 6rem);
  top: calc(50% - 6rem);
  background-color: #ffb101;
  position: absolute;
  border-radius: 70% 30% 60% 20%;
  z-index: -1;
}

@media (min-width: 420px) {
  .section-home__background {
    width: 18rem;
    height: 18rem;
    left: calc(50% - 9rem);
    top: calc(50% - 9rem);
  }
}

@media (min-width: 576px) {
  .section-home__background {
    width: 24rem;
    height: 24rem;
    left: calc(50% - 12rem);
    top: calc(50% - 12rem);
  }

  .section-home__herotext__text-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 992px) {
  .section-home {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .section-home__heroimage-xs {
    display: none;
  }

  .section-home__heroimage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5rem;
    position: relative;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }

  .section-home__heroimage > img {
    width: 100%;
  }

  .section-home__background {
    width: 18rem;
    height: 18rem;
    left: calc(50% - 9rem);
    top: calc(50% - 9rem + 2.5rem);
  }

  .section-home__herotext {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    padding-top: 2.5rem;
  }

  .section-home__herotext__text-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .section-home__herotext > .subtitle {
    margin: 1.2rem 0 2.5rem 0;
    font-size: 1.8rem;
  }

  .section-home__herotext ul {
    -webkit-padding-start: 2rem;
            padding-inline-start: 2rem;
  }
}

/* PORTFOLIO */

.section-portfolio {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.portfolio {
  width: calc(100% - 2rem);
  text-align: center;
  padding: 2rem 1rem 1rem 1rem;
}

.portfolio__card {
  border-radius: 5px;
  height: auto;
  width: 100%;
  margin-bottom: 2rem;
  -webkit-box-shadow: 1px 1px 15px 1px #dedddd;
          box-shadow: 1px 1px 15px 1px #dedddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__card__image {
  border-radius: 5px 5px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  width: 100%;
}

.portfolio__card__text-wrapper {
  width: calc(100% - 4rem - 1px);
  padding: 2rem;
  padding-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0 0 5px 5px;
  border: 0.5px solid #ffb101;
  border-top: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.portfolio__card__text {
  text-align: left;
  line-height: 1.5rem;
}

.portfolio__card__title {
  font-family: "Montserrat SemiBold";
}

.portfolio__card__subtitle {
  font-size: smaller;
  padding-top: 1rem;
}

.portfolio__card__info {
  font-size: smaller;
  padding-bottom: 1rem;
}

.portfolio__card__button {
  text-align: right;
  padding-top: 0.5rem;
}

.book-title {
  font-style: italic;
}

#mifsud-card br {
  display: block;
}

#image_please-enter-destination {
  background-image: url("../resources/images/portfolio/pfv-xs.jpg");
}

#image_the-pack {
  background-image: url("../resources/images/portfolio/smecka.jpg");
}

#image_mifsud {
  background-image: url("../resources/images/portfolio/mifsud.jpg");
}

#image_landigo {
  background-image: url("../resources/images/portfolio/landigo.jpg");
}

#image_broth {
  background-image: url("../resources/images/portfolio/vyvary.jpg");
}

#image_mac {
  background-image: url("../resources/images/portfolio/mac.jpg");
}

@media (min-width: 576px) {
  .section-portfolio h1 {
    margin-bottom: 0.5rem;
  }
  .portfolio {
    width: calc(100% - 12rem);
    padding: 2rem 6rem 1rem 6rem;
  }
}

@media (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .portfolio__card {
    -webkit-box-flex: calc(50% - 2rem);
        -ms-flex: calc(50% - 2rem);
            flex: calc(50% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 992px) {
  .portfolio {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .portfolio__card {
    -webkit-box-flex: calc(33% - 2rem);
        -ms-flex: calc(33% - 2rem);
            flex: calc(33% - 2rem);
    max-width: 19rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }

  #mifsud-card br {
    display: none;
  }
}

@media (min-width: 1200px) {
  #mifsud-card br {
    display: block;
  }

  .portfolio__card {
    -webkit-box-flex: calc(33% - 3rem);
        -ms-flex: calc(33% - 3rem);
            flex: calc(33% - 3rem);
    max-width: 19rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 3rem;
  }
}

/* PORTFOLIO DETAIL */

.portfolio-detail {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  display: none;
  background-color: #ffffff;
  overflow-y: auto;
  padding-bottom: 3rem;
}

.portfolio-detail__visible {
  display: block;
}

.portfolio-detail__hamburger-wrapper {
  position: fixed;
  z-index: 6;
  top: 1.2rem;
  right: 0;
}

.portfolio-detail__item-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: calc(100% - 2rem);
  background-color: white;
}

.portfolio-detail__item-nav > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #136f63;
  cursor: pointer;
}

.portfolio-detail__item-nav__previous:hover,
.portfolio-detail__item-nav__previous:active,
.portfolio-detail__item-nav__next:hover,
.portfolio-detail__item-nav__next:active {
  color: #ffb101;
}

.nav-arrow {
  font-size: 2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.portfolio-detail__item-nav__previous > .nav-arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hamburger-background {
  background-color: #ffffff;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin-top: -3.1rem;
  margin-left: -0.5rem;
}

.portfolio-detail__card {
  width: 100%;
  min-height: 100%;
  line-height: 1.5rem;
  position: relative;
}

.portfolio-detail__card img {
  width: 100%;
}

.portfolio-detail__card__title {
  font-family: "Montserrat SemiBold";
  font-size: large;
  text-align: center;
  padding: 1.5rem 0 1.5rem 0;
}

.portfolio-detail__card__subtitle {
  font-family: "Montserrat SemiBold";
  text-align: center;
  padding-bottom: 1rem;
  line-height: 0.5rem;
}

.portfolio-detail__card__textbox {
  padding: 0 2rem 2rem 2rem;
}

.portfolio-detail__card__textbox > div {
  padding-bottom: 1rem;
}

.portfolio-detail__card__textbox__review {
  border-top: 1px solid #ffb101;
  padding-top: 1.5rem;
  margin-top: 0.5rem;
}

.portfolio-detail__card__links {
  list-style: none;
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
}

.portfolio-detail__card__links > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .portfolio-detail {
    padding-bottom: 0;
  }

  .portfolio-detail__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .portfolio-detail__card__wrapper {
    border: 1px solid #ffb101;
    margin: 4.5rem;
    border-radius: 5px;
    width: calc(100% - 9rem);
    -webkit-box-shadow: 1px 1px 15px 1px #dedddd;
            box-shadow: 1px 1px 15px 1px #dedddd;
  }

  .portfolio-detail__card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
}

@media (min-width: 992px) {
  .portfolio-detail__card__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .portfolio-detail__card__wrapper > div:nth-of-type(1) {
    -webkit-box-flex: 60%;
        -ms-flex: 60%;
            flex: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .portfolio-detail__card__wrapper > div:nth-of-type(2) {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
  }

  .portfolio-detail__card img {
    border-radius: 5px 0 0 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/* ABOUT */

.section-about {
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 1.5rem;
}

.section-about__headshot {
  display: block;
  text-align: center;
  padding-top: 2rem;
}

.section-about__headshot > img {
  width: 100%;
  border: 0.5px solid #ffb101;
  border-radius: 5px;
}

.section-about__bio2 {
  padding: 1rem 0 1rem 0;
}
.section-about__bio3 {
  padding: 0 0 1rem 0;
}

.section-about__name {
  font-family: "Montserrat SemiBold", sans-serif;
  padding: 2.5rem 0 1.5rem 0;
}

@media (min-width: 576px) {
  .section-about {
    padding-left: 4rem;
    padding-bottom: 4rem;
  }
}

@media (min-width: 768px) {
  .section-about__bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .section-about__bio__text {
    -webkit-box-flex: 60%;
        -ms-flex: 60%;
            flex: 60%;
  }

  .section-about__headshot {
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    padding: 3rem 0 0 4rem;
  }
}

@media (min-width: 992px) {
  .section-about {
    padding-left: 5rem;
  }

  .section-about__bio__text {
    -webkit-box-flex: 70%;
        -ms-flex: 70%;
            flex: 70%;
  }

  .section-about__headshot {
    -webkit-box-flex: 30%;
        -ms-flex: 30%;
            flex: 30%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -3rem;
  }

  .section-about__headshot > img {
    height: 25rem;
    width: auto;
    padding-top: 0;
  }
}

/* CONTACT */

.section-contact {
  font-family: "Montserrat SemiBold", sans-serif;
  line-height: 2rem;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.section-contact__name {
  padding: 2.5rem 0 0 0;
}

.section-contact__details {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section-contact__details a {
  color: #136f63;
}

.section-contact__details a:hover,
.section-contact__details a:active,
.section-contact__details a:hover > .list-arrow,
.section-contact__details a:active > .list-arrow {
  color: #ffb101;
}

.section-contact__details > div > a > .list-arrow {
  display: none;
}

.section-contact__text {
  font-size: smaller;
  font-family: "Montserrat SemiBold", sans-serif;
}

.section-contact__id-info {
  font-family: "Montserrat Regular", sans-serif;
  font-size: smaller;
  text-align: center;
  padding: 2rem 0 2.5rem 0;
  font-style: italic;
  line-height: 1.2rem;
}

.section-contact__id-info span {
  display: block;
  color: transparent;
}

@media (min-width: 576px) {
  .section-contact__id-info {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .section-contact__id-info span {
    display: inline;
    color: #1f2220;
  }
}

@media (min-width: 992px) {
  .section-contact {
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: left;
  }

  .section-contact__text {
    font-size: medium;
    font-family: "Montserrat Regular", sans-serif;
  }

  .section-contact__details > div > a > .list-arrow {
    display: inline;
    padding-right: 0.5rem;
    padding-left: 2rem;
    font-family: "Montserrat Regular", sans-serif;
  }

  .section-contact__details > div > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1200px) {
  .section-contact__id-info span {
    display: block;
    color: transparent;
    line-height: 0.5rem;
  }
}

/* FOOTER */

.section-footer {
  height: 5rem;
  background-color: #136f63;
  border-color: #136f63;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.5rem 0 1rem;
}

.section-footer__copyright {
  font-size: medium;
  color: #ffffff;
}

.section-footer__scroll-to-top {
  color: #ffffff;
  padding-top: 1.5rem;
  font-size: 3rem;
  line-height: 2rem;
}